.Layout-Start {
  height: 200vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.quad {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  z-index: 9999;
}

.Font-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #161618;
  font-size: 16px;
  z-index: 13;
  line-height: 10vh;

  animation: start-right 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.8s;
}

.Font-2 {
  color: #161618;
  font-size: 14vh;
  z-index: 13;
  line-height: 18vh;
  transform: translateX(30px);
}

#wallpaper-top {
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  width: auto;
  z-index: 12;
  animation: start-right 2s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}

.wallpaper-div {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transform: scale(1);
  background: rgb(238, 238, 238);
}

header {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  will-change: transform;
  transform: scale(1);
}

.header-links {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  display: flex;
  gap: 10px;
  opacity: 0;
  animation: Anim-Fade 0.7s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}

#header-dot {
  animation: rotate 3s ease-out infinite;
  margin-right: 20px;
}

.me-layout {
  height: 400px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 100vh;
  padding: 0 20%;
}

.me-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.subject-div {
  height: 250px;
  padding: 0 15%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -100px;
}

.margin-top100vh {
  margin-top: 100vh;
}

.Layout-Project {
  height: 200vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img-project-div {
  transform: scale(0.7);
  width: 100%;
  height: 100vh;
  border-radius: 5px;
  position: sticky;
  will-change: transform;
  top: 0;
  overflow: hidden;
}

#logo-project {
  position: absolute;
  top: 15px;
  left: 30px;
}

.p1 {
  background: url(./pictures/img-project/Pokemon.png);
  background-position: center;
}

.p2 {
  background: url(./pictures/img-project/lieferando.png);
  background-position: center;
}

.p3 {
  background: url(./pictures/img-project/Pokemon.png);
  background-position: center;
}

.p4 {
  background: url(./pictures/img-project/Pokemon.png);
  background-position: center;
}

.p5 {
  background: url(./pictures/img-project/Pokemon.png);
  background-position: center;
}

.information-div {
  height: 800px;
  padding: 100px 15%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
  background: #161618;
  position: relative;
  color: rgb(172, 172, 172);
  background: #1f2022;
  padding: 50px;
}

#logo-footer {
  height: 25px;
  width: auto;
  margin-right: 40px;
  margin-top: 5px;
}

.legals {
  display: flex;
  margin: 0 80px;
}

.socials {
  margin: 0 80px;
}

.socials {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.links a,
.socials a {
  color: rgb(172, 172, 172);
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}

.links a:hover {
  text-decoration: underline;
}

.copyright-link {
  margin-right: 36px;
  display: flex;
  align-items: center;
}

.copyright-link p {
  font-size: 15px;
  color: rgb(196, 196, 196);
}

.divide {
  height: 15px;
  width: 1px;
  background: rgb(97, 97, 97);
}

@media (max-width: 1281px) {
  .Font-2 {
    font-size: 10vh;
    line-height: 15vh;
  }
}

@media (max-width: 1180px) {
  /* tablett */
}

@media (max-width: 730px) {
  .Font-2 {
    font-size: 7vh;
    line-height: 10vh;
  }
  .Font-1 {
    display: none;
  }
}

@media (max-width: 490px) {
  .Font-2 {
    font-size: 5vh;
    line-height: 10vh;
    transform: translateX(0);
  }
  .quad {
    justify-content: center;
    align-items: center;
  }
}
