.add_icon {
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(20, 20, 20);
    border: 1px solid rgb(80, 80, 80);
    cursor: pointer;
  }
  
  .add_icon::before {
    display: block;
    content: "+";
    color: rgb(250, 153, 9);
    font-size: 1.425rem;
    font-weight: 700;
    transition: transform .3s ease-out;
    transform-origin: center;
  }
  
  .add_icon:hover::before {
    transform: rotate(45deg) scale(1.08);
  }


/* - */ 

.button-down {
  width: 30px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(110, 110, 110);
  background: rgb(250, 153, 9);
  cursor: pointer;
}

.button-down::before {
  display: block;
  content: "-";
  color: rgb(255, 255, 255);
  font-size: 1.425rem;
  font-weight: 700;
  transition: transform .3s ease-out;
  transform-origin: center;
}

.button-down:hover::before {
  transform: rotate(45deg) scale(1.08);
  
}

/* + */ 

.button-up {
  width: 30px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(105, 105, 105);
  background: rgb(250, 153, 9);
  cursor: pointer;
}

.button-up::before {
  display: block;
  content: "+";
  color: rgb(250, 250, 250);
  font-size: 1.425rem;
  font-weight: 700;
  transition: transform .3s ease-out;
  transform-origin: center;
}

.button-up:hover::before {
  transform: rotate(45deg) scale(1.08);
}

/* x */ 

.button-remove {
  width: 30px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(110, 110, 110);
  cursor: pointer;
}

.button-remove::before {
  display: block;
  content: "x";
  color: rgb(226, 137, 3);
  font-size: 1.225rem;
  font-weight: 700;
  transition: transform .3s ease-out;
  transform-origin: center;
}

.button-remove:hover::before {
  transform: rotate(45deg) scale(1.08);
}

/* Order */

/* From Uiverse.io by gharsh11032000 */ 
.button-order {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(226, 137, 3);
  border: 2px solid rgb(226, 137, 3);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  cursor: pointer;
}

.button-order::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(226, 137, 3);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-order:hover::before {
  scale: 3;
}

.button-order:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button-order:active {
  scale: 1;
}

/* Feedback */ 

/* From Uiverse.io by kennyotsu */ 
.notifications-container {
  width: 70%;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 40%;
  right: 15%;
  animation: fadeOut 10s;
  animation-fill-mode: forwards;
}

.notifications-container p {
  color: rgb(29, 29, 29);
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240 253 244);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}


@keyframes fadeOut {
  0%
  {
    opacity: 1;
  }
  70%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}



